/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common */
.conteiner {
    width: 80%;
    margin: auto;
}
.clearfix::after {
    content: "";
	display: table;
	clear: both;
}
.btn {
    padding: 8px;
    border-radius: 20px;
    border: none;
    background-color: white;
    color: #23272a;
}

/* Typo */
body {
    font-family: 'Lato', sans-serif;
}
h1 {
    font-size: 40px;
    margin-bottom: 30px;
}
p {
    line-height: 25px;
}

/* Header */
header {
    background-color: #245EE9;
    padding: 25px 0px;
    font-size: 12px;
}
.main-nav li,
header .conteiner div {
    display: inline-block;
}
header .conteiner div {
    width: 25%;
    float: left;
}
header .conteiner nav {
    width: 50%;
    float: left;
}
.logo {
    height: 30px;
    display: block;
}
.main-nav ul {
    text-align: center;
}
.main-nav li a{
    text-decoration: none;
    color: white;
    line-height: 30px;
    padding: 7.5px 20px;
    border-radius: 20px;
}
header .conteiner div .btn {
    float: right;
}

/* Main */
.hero {
    width: 100%;
    height: 550px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;
    color: white;
}
.subconteiner {
    width: 40%;
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.subconteiner .btn {
    margin: 20px 10px 0px 10px;
    padding: 15px;
}
.btn-black {
    color: white;
    background-color: black;
}

/* Hover */
.main-nav li a:hover {
    background-color: rgb(57, 57, 185);
    border-radius: 20px;
}
.btn-white:hover {
    background-color: lightgray;
}
.btn-black:hover {
    background-color: rgb(61, 61, 61);
}

