/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common */
.conteiner {
    width: 80%;
    margin: auto;
}
.clearfix::after {
    content: "";
	display: table;
	clear: both;
}
.btn {
    padding: 8px;
    border-radius: 20px;
    border: none;
    background-color: white;
    color: #23272a;
}

/* Typo */
body {
    font-family: 'Lato', sans-serif;
}

/* Header */
header {
    background-color: rgb(49, 97, 224);
    padding: 25px 0px;
    font-size: 12px;
}
.main-nav li,
header .conteiner div {
    display: inline-block;
}
header .conteiner div {
    width: 25%;
    float: left;
}
header .conteiner nav {
    width: 50%;
    float: left;
}
.logo {
    height: 30px;
    display: block;
}
.main-nav ul {
    text-align: center;
}
.main-nav li a{
    text-decoration: none;
    color: white;
    line-height: 30px;
    padding: 7.5px 20px;
    border-radius: 20px;
}
header .conteiner div .btn {
    float: right;
}

/* Hover */
.main-nav li a:hover {
    background-color: rgb(57, 57, 185);
    border-radius: 20px;
}
header .conteiner div .btn:hover {
    background-color: lightgray;
}


