/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common */
body {
    margin: auto;
}
.conteiner {
    width: 80%;
    max-width: 1200px;
    margin: auto;
}
.clearfix::after {
    content: "";
	display: table;
	clear: both;
}
.subconteiner {
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.btn {
    padding: 8px;
    border-radius: 20px;
    border: none;
    background-color: white;
    color: #23272a;
}
.img-sec {
    width: 75%;
    float: left;
}
.text-sec {
    width: 25%;
    float: left;
    color: black;
    padding-top: 40px;
}

/* Typo */
body {
    font-family: 'Lato', sans-serif;
}
h1 {
    font-size: 40px;
    margin-bottom: 30px;
}
p {
    line-height: 25px;
}
h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

/* Header */
header {
    background-color: #245EE9;
    padding: 25px 0px;
    font-size: 12px;
}
.main-nav li,
header .conteiner div {
    display: inline-block;
}
header .conteiner div {
    width: 15%;
    float: left;
}
header .conteiner nav {
    width: 70%;
    float: left;
}
.logo {
    height: 30px;
    display: block;
}
.main-nav ul {
    text-align: center;
}
.main-nav li a{
    text-decoration: none;
    color: white;
    line-height: 30px;
    padding: 7.5px 20px;
    border-radius: 20px;
}
header .conteiner div .btn {
    float: right;
}

/* Main */
.hero {
    width: 100%;
    height: 550px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;
    color: white;
}
hero .conteiner .subconteiner {
    width: 40%;
}
.subconteiner .btn {
    margin: 20px 10px 0px 10px;
    padding: 15px;
}
.btn-black {
    color: white;
    background-color: black;
}

section {
    padding: 100px 0px;
    height: 700px;
}
.sec-2nd .conteiner .img-sec {
    text-align: right;
}
.sec-2nd {
    background-color: #F6F6F6;
}

.wave {
    height: 120px;
    background-image: url(../img/wave.svg);
    background-size: cover;
    opacity: 4%;
}
.wave-inv {
    transform: rotate(180deg);
}

.sec-4th {
    height: auto;
    position: relative;
    text-align: center;
    background-color: #F6F6F6;
}
.sec-4th img:first-child {
    margin: 20px 0px;
    width: 90%;
}
.stars {
    width: 350px;
    position: absolute;
    left: 50%;
    bottom: 180px;
	transform: translate(-50%);
}
.btn-blue {
    margin: 20px 10px 0px 10px;
    padding: 15px;
    color: white;
    background-color: #8ea1e1;
}

/* Footer */
footer {
    background-color: #23272a;
}
.big-col {
    width: 30%;
    float: left;
}
.small-col {
    width: calc(70% / 4);
    float: left;
}
.liste {
    padding-top: 50px;
    padding-bottom: 25px;
}
.liste ul {
    list-style: none;
    font-size: 12px;
    padding-top: 5px;
}
.liste li, .liste h3 {
    color: #7289da;
}
.liste li a{
    display: inline-block;
    padding: 5px 0px;
    text-decoration: none;
    color: white;
}
footer hr {
    color: #7289da;
}
.liste h3 {
    padding-bottom: 15px;
}
.big-col img {
    height: 15px;
    vertical-align: middle;
}
.big-col span {
    color: white;
    font-size: 10px;
    vertical-align: middle;
}
.icons {
    margin-top: 15px;
}
.icons a {
    color: white;
    margin-right: 15px;
}
.last-row {
    padding: 25px 0px;
}
.last-row img {
    height: 30px;
}
.last-row button {
    float: right;
}


/* Hover */
.main-nav li a:hover {
    background-color: rgb(57, 57, 185);
    border-radius: 20px;
}
.btn-white:hover {
    background-color: lightgray;
}
.btn-black:hover {
    background-color: rgb(61, 61, 61);
}
.btn-blue:hover {
    background-color: #566ebd;
}
.liste a:hover {
    color: #7289da;
}

